.wrapper {
  border-radius: 20px;
}

.container {
  max-width: 1080px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  border-bottom: 1px solid #eaeaea;
}
.header-info {
  height: 130px;
}
.header-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.header-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9d9d9d;
}
.header-cart-count {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}

.slider {
  background-color: #eaeaea;
  margin-bottom: 40px;
}

.home {
  h2 {
    font-weight: 700;
    font-size: 32px;
  }
}

.search-block {
  position: relative;
  img {
    position: absolute;
    top: 22px;
    transform: translateY(-50%);
    left: 20px;
  }
}

.search-field {
  padding-left: 50px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  outline: none;
  height: 45px;
  width: 250px;
  font-size: 14px;
  color: #c4c4c4;
}

.card {
  width: 210px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 30px;
  margin-bottom: 40px;
  h3 {
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 150px;
  }
  .button {
    width: 32px;
    height: 32px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
  }
}
.card-price {
  span {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;
  }
  b {
    font-weight: 700;
    font-size: 14px;
  }
}
